* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 4px;
    border: 1px solid #d5d5d5;
}

.scroll-container::-webkit-scrollbar {
    width: 4px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 50px;
}

.scroll-container::-webkit-scrollbar-track {
    background-color: gray;
    border-radius: 50px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal {
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(248, 240, 226);
    width: 70%;
    max-width: 70vw;
    max-height: 95vh;
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 0.5rem;
    overflow-y: auto;
    display: none;
    z-index: 10;
}

.title {
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.title h4 {
    font-size: 14px;
}


.close-icon-parent {
    display: block;
    cursor: pointer;
}

.caret-parent {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border-radius: 8px;
    visibility: hidden;
    cursor: pointer;


}

.close-caret {
    color: gray;

    cursor: pointer;

}

.search-box {
    display: flex;
    background-color: white;
    align-items: center;
    height: 2.5rem;
    border: 1.5px solid rgb(220, 218, 218);
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-top: 4px;
    gap: 1rem;
    position: relative;
}

.search-box .search-icon {
    height: 100%;
    border-right: 2px solid rgb(193, 181, 181);
    padding-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.search-icon img {
    width: 20px;
}

.search-box .input-box {
    width: 100%;
    height: 100%;
    color: rgb(26, 25, 25);
    font-size: 14px;

}

.city-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #ddd;
    max-height: 220px;
    display: none;
    z-index: 999;
    box-shadow: 1px 1px 5px #aaaaaa;
}

.city-suggestion {
    padding: 10px 14px;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid rgb(234, 232, 232);
    color: rgb(73, 73, 73);
}

.city-suggestion:hover {
    background: #f5f5f5;
}

.search-box .input-box input {
    width: 100%;
    border: none;
    height: 100%;

}

input:focus {
    outline: none;
}

.search-box:focus-within {
    outline: 2px solid gray;
}

.notion-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 6rem;
    padding-right: 6rem;
    gap: 0.5rem;
    flex-wrap: nowrap;
    padding-top: 1rem;

}

.notion-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.notion-image img {
    height: 40px;
    width: auto;
}

.notion-title p {
    font-size: 10px;
}

.city-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 10px;
}

.city-container p {
    font-size: 14px;
    font-weight: lighter;
    color: rgb(36, 35, 35);

}

.city div {
    cursor: pointer;
}

.city div:focus-within {
    outline: 2px solid black;
    border-radius: 100%;
}

.cities-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    justify-content: center;
}

.city img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 100%;
}

.city {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 4rem;
}



.other-city-container {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 12px;
}

.other-city-container-parent {
    display: grid;
    overflow-y: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-height: 15vh;
    width: 100%;
    gap: 10px;
}

.toggle-city-show {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-top: 12px;
}

.toggle-city-hide {
    display: none;
    justify-content: center;
    cursor: pointer;
}


.city-wrapper-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 1rem;
    cursor: pointer;
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 1rem;
}


.text-light {
    color: gray;
    font-size: 12px;
}

.other-city-container-parent p {
    color: gray;
    font-size: 12px;
}

@media (max-width: 690px) {
    .notion-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }



    .other-city-container-parent {
        grid-template-columns: 1fr;
        max-height: 100%;
        overflow-y: hidden;


    }

    .other-city-container {
        align-items: flex-start;
        gap: 10px;
    }

    .modal {
        width: 100%;
        max-height: 100vh;
        max-width: 100vw;
        height: 100%;
    }

    .caret-parent {
        visibility: visible;
    }

    .close-icon-parent {
        visibility: hidden;
    }

    .title h4 {
        color: black;
    }

    .toggle-city-show {
        display: none !important;
    }

    .other-city-container {
        display: flex !important;
    }

    .toggle-city-hide {
        display: none !important;
    }

    .other-city {
        border-bottom: 1px solid white !important;
    }

}