* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal {
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(248, 240, 226);
    width: 70%;
    max-width: 100vw;
    max-height: 90vh;
    padding: 1rem;
    gap: 2rem;
    border-radius: 0.5rem;
    overflow-y: auto;
    display: none;
    z-index: 10;
}

.title {
    color: white;
    display: flex;
    justify-content: center;
}

.close-icon {
    color: black;
    display: block;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
}

.search-box {
    display: flex;
    background-color: white;
    align-items: center;
    height: 2.5rem;
    border: 1px solid rgb(173, 154, 154);
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-top: 4px;
    gap: 1rem;
}

.search-box .search-icon {
    height: 100%;
    border-right: 2px solid rgb(193, 181, 181);
    padding-right: 4px;

}

.search-box .input-box {
    width: 100%;
    height: 100%;
}

.search-box .input-box input {
    width: 100%;
    border: none;
    height: 100%;

}

input:focus {
    outline: none;
}

.notion-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 6rem;
    padding-right: 6rem;
    gap: 2rem;
    flex-wrap: nowrap;

}

.notion-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.notion-image img {
    height: 40px;
    width: auto;
}

.notion-title p {
    font-size: 12px;
}

.city-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.city-container p {
    font-size: 14px;
    font-weight: lighter;
     color: rgb(36, 35, 35);
    
}

.cities-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.city img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.city {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}



.other-city-container {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.other-city-container-parent {
    display: grid;
    overflow-y: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-height: 180px;
    width: 100%;
    gap: 15px;
}

.toggle-city-show {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.toggle-city-hide {
    display: none;
    justify-content: center;
    cursor: pointer;
}


.city-wrapper-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 1rem;
    cursor: pointer;
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 1rem;
}

.text-light {
    color: gray;
    font-size: 18px;
}

.other-city-container-parent p{
    color: gray;
    font-size: 12px;
}

@media (max-width: 620px) {
    .notion-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .other-city-container-parent {
        grid-template-columns: 1fr;
        max-height: 270px;

    }

    .other-city-container {
        align-items: flex-start;
        gap: 10px;
    }

    .modal {
        width: 100%;
        max-height: 100vh;
        height: 100%;
    }

    .cities-wrapper {
        gap: 3rem;
    }

}